h3 電子書流通服務平台管理
	//- small Pure angular functional tables

.container-fluid(ng-controller="PacManagerTableController as table")

	.panel.panel-default
		.panel-heading.clearfix(ng-controller='ModalController')
			.pull-right
				button.btn-sm.btn.btn-default(ng-click='table.tableParams3.data[1].$selected = true') Select 2nd Row
				//- setSelectedXXX(0, 5)
			.panel-title
				// Modal inline template
				// New
				script(type='text/ng-template', id='/newPmDateModalContent.html')
					.modal-header
						button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
						h4#myModalLabel.modal-title Modal title
					.modal-body
						| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					.modal-footer
						button.btn.btn-primary(ng-click='ok()') OK
						button.btn.btn-warning(ng-click='cancel()') Cancel
				// Delete
				script(type='text/ng-template', id='/delPmDateModalContent.html')
					.modal-header
						button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
						h4#myModalLabel.modal-title 刪除帳號
					.modal-body
						| 確認刪除這 N 筆 PAC 帳號?
					.modal-footer
						button.btn.btn-warning(ng-click='cancel()') 取消
						button.btn.btn-primary(ng-click='ok()') 確認
				// Example
				script(type='text/ng-template', id='/myModalContent.html')
					.modal-header
						button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
						h4#myModalLabel.modal-title 刪除帳號
					.modal-body
						| 確認刪除這 N 筆 PAC 帳號?
					.modal-footer
						button.btn.btn-warning(ng-click='cancel()') 取消
						button.btn.btn-primary(ng-click='ok()') 確認


			//- p 新增/刪除
			// Button trigger modal 
			.pull-left
				button.btn.btn-default.btn-sm(ng-click='open()') 新增
				button.btn.btn-default.btn-sm(ng-click='open(\'sm\')') 刪除

		table.table.ng-table-rowselected(ng-table='table.tableParams3')
			tbody
				tr(ng-repeat='user in $data', ng-click='user.$selected = !user.$selected; changeSelection(user)', ng-class="{'active': user.$selected}")
					td(data-title="'名稱'", sortable="'title'") {{user.title}}
					td(data-title="'類別'", sortable="'type'") {{user.type}}
					td(data-title="'分享/被分享'", sortable="'share1'") {{user.share1}} / {{user.share2}}
					td(data-title="'帳號上限'", sortable="'upperlimit'") {{user.upperlimit}}
					td(data-title="'啟用狀態'", sortable="'enablestate'") {{user.enablestate}}
					td(data-title="'編輯'")
						a(href='javascript:;') {{user.edit}}
		.panel-body
			strong Selected users:
			| {{ table.data | filter:{"$selected": true} }}


//- include ../layouts/mixin/mixin-lorem-ipsum.jade


//- h3 電子書流通服務平台管理
//- .container-fluid(ng-controller="PacManagerTableController")
//-   table(class="table table-striped")
//-     thead
//-       tr
//-         -each part in PagePacManagerTitle
//-           th
//-             | #{part.title}
//-         th
//-     tbody
//-       -each part in PagePacManager
//-         tr
//-           td
//-             | #{part.title}
//-           td
//-             | #{part.type}
//-           td
//-             | #{part.share1} / #{part.share2}
//-           td
//-             | #{part.enablestate}
//-           td
//-             | #{part.upperlimit}
//-           td
//-             a(href='javascript') #{part.edit}