extends layouts/login

append mainVars
	- currentPage = 'login'
	- pageTitle = 'This is the title'
	- metaDesc = 'This is the page description.'

block content
	- each part in Login
		.container
			.col-xs-12.col-sm-8.col-sm-offset-2
				.row(style="margin-top:10%")
					.navbar-text.navbar-right
						include layouts/mould-partials/language-dropdown
				.row
					.demo-login
						form.login
							.login-screen
								.login-icon
									img(alt="Welcome to AAA", src="images/icons/svg/book.svg")
									h4
										| #{part.title}
										small #{part.subtitle}
								.login-form
									.form-group
										input#login-name.form-control.login-field(placeholder=part.id, type='text', value='')
										label.login-field-icon.fui-user(for=part.id)
									.form-group
										input#login-pass.form-control.login-field(placeholder=part.pwd, type='password', value='')
										label.login-field-icon.fui-lock(for=part.pwd)
									label(class="checkbox", for="checkbox1")
										input(type="checkbox", value="", id="checkbox1", data-toggle="checkbox")
										| #{part.loginhold}
									a.btn.btn-primary.btn-lg.btn-block(href='#') #{part.login}
									a.login-link(href='#') #{part.getpwd}